{
  "env": {
    "mocha": true
  },
  "globals": {
    "i": true,
    "instance": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [ "error", { "devDependencies": [ "**" ] } ],
    "comma-dangle": "off",
    "arrow-body-style": "off",
    "func-names": "off",
    "no-unused-expressions": "off",
    "prefer-arrow-callback": "off"
  }
}
