{
  "env": {
    "mocha": true
  },
  "globals": {
    "i": true,
    "instance": true,
    "globalThis": true
  },
  "rules": {
    "func-names": "off",
    "no-unused-expressions": "off",
    "camelcase": "off",
    "import/no-named-as-default": "off",
    "no-multi-assign": "off"
  }
}
