{
  "extends": "airbnb-base",
  "rules": {
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-underscore-dangle": ["error", { "allow": ["_claim_names", "_claim_sources", "_matchedRouteName"] }],
    "import/order": ["error", { "groups": ["builtin", "external", "internal", "parent", "sibling", "index"], "newlines-between": "always" }]
  }
}
