{
  "extends": "airbnb-base",
  "rules": {
    "strict": "off",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-underscore-dangle": ["warn", { "allowAfterThis": true }],
    "generator-star-spacing": ["warn", "both"],
    "no-cond-assign": ["error", "except-parens"],
    "no-param-reassign": ["error", { "props": false }]
  }
}
