<form autocomplete="off" action="/interaction/<%= details.uuid %>/confirm" method="post">
  <input type="hidden" name="uuid" value="<%= details.uuid %>"/>
  <button autofocus type="submit" class="login login-submit">Continue</button>
</form>
