<form autocomplete="off" action="/interaction/<%= details.uuid %>/login" method="post">
  <input type="hidden" name="uuid" value="<%= details.uuid %>"/>
  <input required type="text" name="login" placeholder="Enter any login" <% if (!details.params.login_hint) { %>autofocus="on"<% } else { %> value="<%= details.params.login_hint %>" <% } %>>
  <input required type="password" name="password" placeholder="and password" <% if (details.params.login_hint) { %>autofocus="on"<% } %>>

  <label><input type="checkbox" name="remember" value="yes" checked="yes">Stay signed in</label>

  <button type="submit" class="login login-submit">Sign-in</button>
</form>
